<p><%= button_to "Destroy", destroy_user_session_path, :method => :delete %></p>

<h1>Books#index</h1>

<%= link_to 'New Book', new_book_path%>

<ul>
  <% @books.each do |book|%>
    <li>
      <%= link_to book.name, book%>
    </li>
  <% end%>
</ul>

  <%= paginate @books %>

  <p>
  Go To Page
    <%= form_tag books_path, method: :get do %>
      <%= text_field_tag :page, params[:page] %>
      <%= submit_tag "Go" %>
    <% end %>
  </p>
